nav{
    background-color: rgb(166, 234, 31);
}

.nav-link:hover{
    color: red;

}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: green;
    border-radius: 5px;
}
.card:hover{
    opacity: 0.5;

}
